In [1]:
import pandas as pd
import glob
#pd.set_option('display.max_rows', 500)
#pd.options.display.max_rows = 500
%autosave 0

Autosave disabled

#### reading multiple excel workbooks

In [2]:
#selecting all files with xls extension only 
path = "GlobDataTest\*.xls"

In [3]:
excelfiles = glob.glob(path)

In [4]:
excelfiles

['GlobDataTest\\August.xls',
 'GlobDataTest\\December.xls',
 'GlobDataTest\\November.xls',
 'GlobDataTest\\October.xls',
 'GlobDataTest\\September.xls']

In [5]:
type(excelfiles)

list

In [6]:
df0 = pd.read_excel(excelfiles[0])
df0.head(3)

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
0,2020-08-31 2:35AM,2020-08-31 9:14AM,362,37,22,399,105.0,158.0,99.0
1,2020-08-28 7:44PM,2020-08-28 9:12PM,85,3,0,88,NaN,NaN,NaN
2,2020-08-28 1:14AM,2020-08-28 9:16AM,398,84,26,482,70.0,237.0,91.0

In [7]:
#create an empty dataframe
dfglobal = pd.DataFrame()

In [8]:
for file in excelfiles:
    df = pd.read_excel(file)
    dfglobal = pd.concat([dfglobal,df])

In [9]:
dfglobal.head()

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
0,2020-08-31 2:35AM,2020-08-31 9:14AM,362,37,22,399,105.0,158.0,99.0
1,2020-08-28 7:44PM,2020-08-28 9:12PM,85,3,0,88,NaN,NaN,NaN
2,2020-08-28 1:14AM,2020-08-28 9:16AM,398,84,26,482,70.0,237.0,91.0
3,2020-08-27 5:52AM,2020-08-27 9:29AM,196,21,12,217,44.0,131.0,21.0
4,2020-08-27 1:24AM,2020-08-27 4:29AM,164,21,16,185,41.0,83.0,40.0

In [10]:
dfglobal.to_excel('CombinedData.xlsx')