In [13]:
import pandas as pd
#pd.options.display.max_rows = 100
%autosave 0

Autosave disabled

#### reading multiple sheets from a workbook

In [14]:
path = "Workbook\MultipleSheets.xlsx"

In [15]:
# outputs a dictionary
df = pd.read_excel(path,sheet_name = [0,1,2,3,4])

In [16]:
type(df)

dict

In [17]:
df[0].head()

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
0,2020-08-31 2:35AM,2020-08-31 9:14AM,362,37,22,399,105.0,158.0,99.0
1,2020-08-28 7:44PM,2020-08-28 9:12PM,85,3,0,88,NaN,NaN,NaN
2,2020-08-28 1:14AM,2020-08-28 9:16AM,398,84,26,482,70.0,237.0,91.0
3,2020-08-27 5:52AM,2020-08-27 9:29AM,196,21,12,217,44.0,131.0,21.0
4,2020-08-27 1:24AM,2020-08-27 4:29AM,164,21,16,185,41.0,83.0,40.0

In [18]:
CombinedSheets = pd.concat([df[0],df[1],df[2],df[3],df[4]])

In [19]:
type(CombinedSheets)

pandas.core.frame.DataFrame

In [20]:
CombinedSheets.head()

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
0,2020-08-31 2:35AM,2020-08-31 9:14AM,362,37,22,399,105.0,158.0,99.0
1,2020-08-28 7:44PM,2020-08-28 9:12PM,85,3,0,88,NaN,NaN,NaN
2,2020-08-28 1:14AM,2020-08-28 9:16AM,398,84,26,482,70.0,237.0,91.0
3,2020-08-27 5:52AM,2020-08-27 9:29AM,196,21,12,217,44.0,131.0,21.0
4,2020-08-27 1:24AM,2020-08-27 4:29AM,164,21,16,185,41.0,83.0,40.0

In [21]:
CombinedSheets.to_excel('ConcatenatedSheets.xlsx')

In [22]:
data = pd.concat([df[val] for val in range(5)])

In [23]:
type(data)

pandas.core.frame.DataFrame

In [24]:
data.head()

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
0,2020-08-31 2:35AM,2020-08-31 9:14AM,362,37,22,399,105.0,158.0,99.0
1,2020-08-28 7:44PM,2020-08-28 9:12PM,85,3,0,88,NaN,NaN,NaN
2,2020-08-28 1:14AM,2020-08-28 9:16AM,398,84,26,482,70.0,237.0,91.0
3,2020-08-27 5:52AM,2020-08-27 9:29AM,196,21,12,217,44.0,131.0,21.0
4,2020-08-27 1:24AM,2020-08-27 4:29AM,164,21,16,185,41.0,83.0,40.0